
<html>
<head>
  <title>Learn to code with Gionny</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link href="assets/css/reset.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="assets/css/codemirror.css" rel="stylesheet"  type="text/css">
  <link href="assets/css/idea.css" rel="stylesheet"  type="text/css">

</head>
<body>
  <h1>Code with Gionny!</h1>
  <div class="codeHeader">
			<div class="action-buttons"></div>
	</div>
  <div class="codeSection" id="htmlSection">
  </div>

  <script src="assets/js/socketConnection.js"></script>
  <script src="assets/js/LSEQ.js"></script>
  <script src="assets/js/codemirror.js"></script>
  <script src="assets/js/mode/javascript.js"></script>
  <script src="assets/js/editorLogic.js"></script>

</body>
</html>
